<div class="encounters-page">
  <header class="header encounter-header">
    <h1>Recent Encounters</h1>
    <p class="sub-text">See an Alien? Report it!</p>
  </header>

  <section class="encounter-list" ng-model="encounter.id">
    <ul>
      <li ng-repeat="data in encounters">
        {{ data.date }} {{ data.atype }} {{ data.action }}
      </li>
    </ul>
  </section>

  <footer class="page-footer">
    <h2 class="check-in-button" ng-click="gotoreport()">Report Encounter</h2>
  </footer>
</div>
