.encounters-page {
  overflow: hidden;
}

.encounter-header {
  position: fixed;
}

.encounter-list {
  height: 50vh;
  margin-top: 25vh;
  overflow: auto;
}

ul {
  margin: 0;
  padding: 0 1rem;
}

li {
  list-style: none;
  margin: 0;
  padding: 0 0 1rem;
}
