/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@import "./check-in/check-in";
@import "./encounters/encounters";
@import "./main/main";
@import "./report/report";
@import "./report/report-filed";
@import "animations.scss";
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

$red-color: #ed4343;
$red-font: 'Roboto Slab', serif;


html, body, input, select, textarea {
  width:100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-y: hidden;
  font-family: $red-font;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.red {
  color:$red-color;
}

h1, h2, h3 {
  margin: 0;
  font-weight: 100;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

input, select, textarea {
  font-size: 1.25rem;
  color: red;
  background: black;
  border: 0;
  border-bottom: 1px solid white;
  padding: .25rem 0 .25rem .5rem;
  margin-bottom: .25rem;

  &::placeholder {
    color: red;
  }
}

option {
  background: white;
}

select {
  color: red;
}

.header, .page-footer {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {
  min-height: 25vh;
  padding: 0rem 0 2rem;
  h1 {
    padding-top: 2rem;
  }
}

.page-footer {
  background: black;
  color: white;
  height: 25vh;
  position: absolute;
  bottom: 0;
}

.sub-text {
  margin: 0;
  font-size: 1rem;
}

.app-form {
  margin: 0 auto;
  width: 80vw;
}

[ui-view]>div {
  width: 100vw;
  height: 100vh;
}

.invalid {
  transition: .5s linear all;
    input, select, textarea {
      &.ng-invalid {
        border-radius: 0;
        animation: invalid .5s infinite;
      }
    }
}

// .welcome {
//
// 	height: 84vh;
// 	display:flex;
// 	align-items:center;
// 	justify-content: center;
// 	flex-direction:column; }
//
// 	img { width: 42%; }
//   h1  { text-align: center; }


/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
