<div class="check-in">
  <header class="titles">
    <h1>Colonist Login</h1>
  </header>

  <form class="app-form" ng-class="{ 'invalid' : validate }">
    <input type="text" ng-model="colonist.name" placeholder="Full Name"
           required minlength="3" /> <br>
    <input type="number" ng-model="colonist.age" placeholder="Age" /> <br>
        <select name="jobs" id="jobs" ng-model="colonist.job_id" />
          <option value="">Select Occupation</option>
          <option value="{{ job.id }}" ng-repeat="job in jobs">{{ job.name }}</option>
        </select>
  </form>

  <footer class="page-footer">
      <h2 class="check-in-button" ng-click="login($event)">Check In</h2>
  </footer>
</div>
